{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/basket.css' %}">
{% endblock %}

{% block content %}
<div class="basket-page">
        <h1>Корзина</h1>
        <div class="basket-product">
            <div class="wrapper-2">
                <div class="img-basket-product"></div>
                <div class="column-product">
                    <h2>Название товара</h2>
                    <h3>Описание товара</h3>
                </div>
            </div>
            <div class="wrapper">
                <div class="kol-vo">
                    <button>-</button>
                    <h2>1</h2>
                    <button>+</button>
                </div>
                <h4>1000р</h4>
                <button class="delete-product"><img src="{% static 'main/images/charm_cross.svg' %}" alt="удалить"/></button>
            </div>
        </div>
        <div class="basket-bottom">
            <a href="{% url 'create' %}" class="go-creator">Продолжить покупки</a>
            <div class="wrapper">
                <div class="wrapper-2">
                    <h2>К оплате:</h2>
                    <h3>1000р</h3>
                </div>
                <a href="{% url 'order' %}" class="go-order">Оформить заказ</a>
            </div>
        </div>
    </div>
{% endblock %}